.pageBlock{
    padding-top: 70px;
    background-color: #E5E5E5;
  }
  .footerBox{
    background-color: #13365C;
    padding: 40px 60px;
    text-align: start !important;
  }
  .footerTitle{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 28px;
    font-family: Sequel Sans;
    line-height: 33px;
    color: #FFFFFF;
  }
  .footerBtmPortion{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footerInfo{
    font-weight: 310;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: Sequel Sans;
  }
  .office{
    font-weight: 415;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-family: Sequel Sans;
  }