.pageBlock{
    padding-top: 150px;
    background-color: #E5E5E5;
  }
  .footerBox{
    background-color: #13365C;
    padding: 40px 60px;
    text-align: start !important;
  }
  .footerTitle{
    margin-bottom: 61px;
    margin-top: 81px;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Open Sans';
    line-height: 33px;
    color: #FFFFFF;
  }
  .footerBtmPortion{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footerInfo{
    font-weight: 310;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    font-family: 'Open Sans';
  }
  .office{
    font-weight: 415;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 17px;
    font-family: 'Open Sans';
  }
  .contactTitle{
    max-width: 240px;
  }