.mainDiv{
  text-align: center;
}
.pageBlock{
  padding: 96px 0px;
}
.heading{
  font-weight: 700;
  font-size: 50px;
  font-family: 'Open Sans';
  color: #13365C;
  margin-bottom: 50px;
}
.imageCards{
  display: flex;
  justify-content: center;
  padding: 0 20px 10px 20px;
  flex-wrap: wrap;
  width: 100%;
}
.imageCards2{
  display: flex;
  justify-content: center;
  padding: 0 20px 10px 20px;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
}
.imageCards3{
  display: flex;
  justify-content: center;
  padding: 0 20px 10px 20px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}
.singleImageProduct{
  margin-right: 50px;
  margin-bottom: 37px;
}
.singleImage{
  margin-right: 15px;
  margin-bottom: 29px;
}
.singleImage4{
  margin-right: 50px;
  margin-bottom: 37px;
}
.singleImage3{
  margin: 10px;
  width: 255px;
}
.imageName{
  font-size: 20px;
  color: #13365C;
  font-family: 'Open Sans';
  font-weight: 415;
  margin-top:29px;
}


.pageBlock2{
  padding-top: 120px;
  padding-bottom: 70px;
  padding-left:0px;
  padding-right:0px;
  background-color: #E5E5E5;
}
.logoImageCards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.singleLogoImage{
  margin-left:0px;
  margin-right:50px;
  margin-bottom: 50px;
}


.musicalImgPortion{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  }
.acousticiansContent{
  margin-left: 49px;
   
}
.heading2{
  font-weight: 700;
  font-size: 50px;
  color: #13365C;
  font-family: 'Open Sans';
  margin-bottom: 30px;
  max-width: 563px;
  margin-top:0px;
  text-align: left;
}
.listItemStyle{
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 310;
  color: #022449;
  text-align: left;
}


.acousticMaterialPortion{
  margin-top: 40px;
  padding: 0 70px;
  text-align: start !important;
  margin-bottom: 30px;
}
.heading3{
  font-weight: 700;
  font-family: 'Open Sans';
  font-size: 45px;
  color: #13365C;
}
.detailContent{
  font-weight: 415;
  font-size: 20px;
  font-family: 'Open Sans';
  line-height: 29px;
  color: #13365C;
  max-width: 771px;
}


.listItemStyle2{
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 310;
  color: #022449;
  margin-left: -15px !important;
  text-align: start !important;
  padding: 0 20px;
  margin: 10px;
}

.listItemStyle3{
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 310;
  color: #022449;
  padding: 20px !important;
  text-align: start !important;
  width: 255px;
  margin: 10px !important;
}


.acousticDesignPortion{
  margin: 5px 0 20px 0;
}
.heading4{
  font-weight: 700;
  font-size: 45px;
  color: #13365C;
  font-family: 'Open Sans';
  margin-top: 20px;
}
.headingSubContent4{
  font-weight: 415;
  font-size: 20px;
  font-family: 'Open Sans';
  line-height: 29px;
  color: #13365C;
  max-width: 771px;
  margin:auto;
}


.pageBlock3{
  padding: 70px 110px;
  display: block;
  width: 100%;
}
.firstDiv{
  display: flex;
  justify-content: space-between;
}
.secondDiv{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.lastPgLeftPortion{
  text-align: start !important;
}
.lastPgRightPortion{
  display: block;
}
.singleImage2{
  margin: 10px;
  /* width: 255px; */
}
.singleImage3{
  margin-right: 49px;
  /* width: 255px; */
}
.paragraph{
  margin-top: 78px;
  margin-right: 44px;
  font-size: 16px;
  font-weight: 310;
  font-family: 'Open Sans';
  color: #13365C;
  text-align: justify;
  text-justify: inter-word;
  line-height: 18.88px;
  max-width: 566px;
}
.paragraph p{
  margin-bottom:31px;
}
.heading5{
  font-weight: 415;
  font-size: 25px;
  line-height: 29px;
  color: #13365C;
  font-family: 'Open Sans';
 
}


@media only screen and (max-width: 1108px) {
  .lastPgRightPortion{
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
  }
  .firstDiv{
    display: block !important;
  }
  .secondDiv{
    display: block !important;
  }
}

@media only screen and (max-width: 650px) {
  .musicalImgPortion{
    padding: 0px !important;
  }
  .acousticMaterialPortion{
    padding: 0px !important;
  }
  .pageBlock3{
    padding: 70px 30px !important;
  }
}